       *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    padding:30px;
    color:white;

    background:
    radial-gradient(circle at center,#819ece 0%,#06142c 40%);
}

/* Container */

.container{
    max-width:950px;
    margin:auto;
    padding:30px;

    background:rgba(0,10,25,.8);

    border:1px solid #00aaff;

    border-radius:20px;

    box-shadow:
    0 0 10px #00aaff,
    0 0 25px rgba(0,170,255,.5),
    inset 0 0 15px rgba(0,170,255,.2);
}

/* Logo */

.logo{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

/* .logo img{
    width:250px;
    filter:
    drop-shadow(0 0 10px #00aaff)
    drop-shadow(0 0 25px #00aaff);
} */

/* Heading */

h1{
    text-align:center;
    color:#7fe7ff;
    margin-bottom:25px;

    text-shadow:
    0 0 10px #00aaff,
    0 0 25px #00aaff;
}

/* Input Row */

#taskForm div{
    display:flex;
    align-items:center;
    gap:10px;

    padding:15px;

    border-radius:12px;

    background:rgba(0,170,255,.08);

    border:1px solid rgba(0,170,255,.4);

    margin-bottom:15px;
}

#taskForm label{
    font-size:1.3rem;
    font-weight:bold;
    color:#7fe7ff;
}

#task{
    flex:1;

    padding:15px;

    border:none;
    border-radius:10px;

    background:#061629;

    color:#7fe7ff;

    font-size:1rem;
    font-weight:600;

    outline:none;

    border:1px solid #00aaff;
}

#task:focus{
    box-shadow:
    0 0 10px #00aaff,
    0 0 20px rgba(0,170,255,.5);
}

/* Add Button */

.add-btn{
    width:100%;
    padding:15px;

    border:none;
    border-radius:12px;

    cursor:pointer;

    color:white;
    font-size:1.1rem;
    font-weight:bold;

    background:
    linear-gradient(
        135deg,
        #00c8ff,
        #006eff
    );

    transition:.3s;
}

.add-btn:hover{
    transform:translateY(-3px);

    box-shadow:
    0 0 15px #00aaff,
    /* 0 0 35px #006eff; */
}

/* Tabs */

.tabs{
    display:flex;
    gap:12px;
    margin:25px 0;
}

.tab-btn{
    flex:1;

    padding:14px;

    border:none;
    border-radius:12px;

    cursor:pointer;

    background:#071726;

    color:#d6f8ff;

    font-weight:600;

    transition:.3s;
}

.tab-btn:hover{
    box-shadow:
    0 0 10px #00aaff;
}

.tab-btn.active{
    background:
    linear-gradient(
        135deg,
        #00c8ff,
        #006eff
    );

    box-shadow:
    0 0 15px #00aaff,
    /* 0 0 30px #006eff; */
}

/* Task Area */

.task-area{
    max-height:500px;
    overflow-y:auto;
    padding-right:10px;
}

/* Task List */

.task-list{
    list-style-position:inside;
}

.task-list li{
    margin-bottom:18px;

    padding:18px;

    background:#061629;

    border-left:5px solid #00aaff;

    border-radius:12px;

    box-shadow:
    0 0 10px rgba(0,170,255,.15);
}

/* Task Title */

.task-title{
    font-size:18px;
    font-weight:700;
    color:#7fe7ff;
}

/* Time */

.task-time{
    margin-top:8px;
    margin-bottom:12px;

    color:#a8dfff;
    font-size:13px;
}

/* Action Buttons */

.task-actions{
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.task-actions button{
    border:none;
    cursor:pointer;

    padding:8px 14px;

    border-radius:8px;

    font-weight:bold;

    transition:.3s;
}

/* Done */

.done-btn{
    background:#00b86b;
    color:white;
}

.done-btn:hover{
    box-shadow:
    0 0 10px #00ff95;
}

/* Edit */

.edit-btn{
    background:#008cff;
    color:white;
}

.edit-btn:hover{
    box-shadow:
    0 0 10px #00aaff;
}

/* Remove */

.remove-btn{
    background:#ff2e63;
    color:white;
}

.remove-btn:hover{
    box-shadow:
    0 0 10px #ff2e63;
}

/* Completed Task */

.completed-task{
    opacity:.75;
    border-left-color:#00ff95;
}

.completed-task .task-title{
    text-decoration:line-through;
    color:#8abdcf;
}

/* Scrollbar */

.task-area::-webkit-scrollbar{
    width:8px;
}

.task-area::-webkit-scrollbar-track{
    background:#02101f;
}

.task-area::-webkit-scrollbar-thumb{
    background:#00aaff;
    border-radius:20px;
}

.task-area::-webkit-scrollbar-thumb:hover{
    background:#00d4ff;
}
